share/deploy/schemas/definition/build.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="definition">

      <optional>
      <element name="build">
        <optional>
        <attribute name="enabled"><ref name="value-boolean"/></attribute>
        </optional>
        <ref name="content-deploy-elements"/>
      </element>
      </optional>

    </element>
  </start>

  <include href="lib.rng"/>
</grammar>
