share/deploy/schemas/definition/lib.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <!-- xml:base attribute -->
  <define name="xml-base">
    <optional>
      <attribute xmlns:xml='http://www.w3.org/XML/1998/namespace'
                 name='xml:base'>
        <text/>
      </attribute>
    </optional>
  </define>

  <!-- a config-rpm element -->
  <define name="element-config-rpm">
    <element name="config-rpm">
    <ref name="xml-base"/>
    <attribute name="id"/>

    <interleave>
    <zeroOrMore>
    <element name="prep-script">
      <ref name="xml-base"/>
      <optional>
        <attribute name='verbose'><ref name="value-boolean"/></attribute>
      </optional>
      <text/>
    </element>
    </zeroOrMore>
    <optional>
    <element name="summary">
      <ref name="xml-base"/>
      <text/>
    </element>
    </optional>
    <optional>
    <element name="description">
      <ref name="xml-base"/>
      <text/>
    </element>
    </optional>
    <optional>
    <element name="license">
      <ref name="xml-base"/>
      <text/>
    </element>
    </optional>

    <ref name="element-requires"/>
    <ref name="element-obsoletes"/>

    <zeroOrMore>
    <ref name="element-repo"/>
    </zeroOrMore>

    <zeroOrMore>
    <ref name="element-files"/>
    </zeroOrMore>

    <zeroOrMore>
    <element name="script">
      <ref name="xml-base"/>
      <attribute name="type"><ref name="value-script-types"/></attribute>
      <text/>
    </element>
    </zeroOrMore>

    <zeroOrMore>
    <element name="trigger">
      <ref name="xml-base"/>
      <attribute name="type"><ref name="value-trigger-types"/></attribute>
      <attribute name="trigger"/>
      <optional><attribute name="interpreter"/></optional>
      <text/>
    </element>
    </zeroOrMore>

    </interleave>
    </element>
  </define>

  <define name="element-files">
    <element name="files">
      <ref name="xml-base"/>
      <ref name="attribute-destdir"/>
      <ref name="attribute-destname"/>
      <ref name="attribute-mode"/>
      <ref name="attribute-content"/>
      <text/>
    </element>
  </define>
          
  <define name="value-script-types">
    <choice>
    <value type="string">post</value>
    <value type="string">pre</value>
    <value type="string">preun</value>
    <value type="string">postun</value>
    <value type="string">verifyscript</value>
    </choice>
  </define>

  <define name="value-trigger-types">
    <choice>
    <value type="string">triggerin</value>
    <value type="string">triggerun</value>
    <value type="string">triggerpostun</value>
    </choice>
  </define>
          
  <!-- a repo element -->
  <define name="element-repo">
    <element name="repo">
      <ref name="xml-base"/>
      <attribute name="id"/>

      <interleave>
      <element name="baseurl">
        <ref name="xml-base"/>
        <text/>
      </element>

      <optional>
      <element name="download">
        <ref name="xml-base"/>
        <ref name='value-boolean'/>
      </element>
      </optional>

      <optional>
      <element name="sslcacert">
        <ref name="xml-base"/>
        <text/>
      </element>
      </optional>

      <optional>
      <element name="sslclientkey">
        <ref name="xml-base"/>
        <text/>
      </element>
      </optional>

      <optional>
      <element name="sslclientcert">
        <ref name="xml-base"/>
        <text/>
      </element>
      </optional>

      <zeroOrMore>
      <element name="include">
        <ref name="xml-base"/>
        <text/>
      </element>
      </zeroOrMore>

      <zeroOrMore>
      <ref name="element-exclude"/>
      </zeroOrMore>

      <zeroOrMore>
      <element name="gpgkey">
        <ref name="xml-base"/>
        <text/>
      </element>
      </zeroOrMore>

      </interleave>
    </element>
  </define>

  <define name="element-obsoletes">
    <zeroOrMore>
      <element name="obsoletes">
        <ref name="xml-base"/>
        <text/>
      </element>
    </zeroOrMore>
  </define>

  <define name="element-requires">
    <zeroOrMore>
      <element name="requires">
        <ref name="xml-base"/>
        <text/>
      </element>
    </zeroOrMore>
  </define>

  <!-- exclude element-->
  <define name="element-exclude">
    <element name="exclude">
      <ref name="xml-base"/>
      <text/>
    </element>
  </define>

  <!-- a repofile element -->
  <define name="element-repofile">
    <element name="repofile">
      <ref name="xml-base"/>
      <text/>
    </element>
  </define>

  <!-- boolean values -->
  <define name="value-boolean">
    <choice>
      <ref name="value-boolean-true"/>
      <ref name="value-boolean-false"/>
    </choice>
  </define>

  <define name="value-boolean-true">
    <data type="token">
      <param name="pattern">[Yy][Ee][Ss]|[Tt][Rr][Uu][Ee]|[Oo][Nn]|1</param>
    </data>
  </define>

  <define name="value-boolean-false">
    <data type="token">
      <param name="pattern">[Nn][Oo]|[Ff][Aa][Ll][Ss][Ee]|[Oo][Ff][Ff]|0</param>
    </data>
  </define>

  <define name="value-mode">
    <data type="token">
      <param name="pattern">[0]?[0-7]?[0-7][0-7][0-7]</param>
    </data>
  </define>

  <!-- id attribute -->
  <define name="attribute-id">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
  </define>

  <!-- path attributes -->
  <define name="attribute-destdir">
    <optional>
    <attribute name="destdir"/>
    </optional>
  </define>

  <define name="attribute-destname">
    <optional>
    <attribute name="destname"/>
    </optional>
  </define>

  <define name="attribute-mode">
    <optional>
    <attribute name="mode">
      <ref name="value-mode"/>
    </attribute>
    </optional>
    <text/>
  </define>

  <define name="attribute-content">
    <optional>
    <attribute name="content">
      <choice>
      <value type="string">file</value>
      <value type="string">text</value>
      </choice>
    </attribute>
    </optional>
  </define>

  <define name="content-path-with-dest">
    <ref name="attribute-destdir"/>
    <ref name="attribute-destname"/>
    <ref name="attribute-mode"/>
    <ref name="attribute-content"/>
  </define>

  <define name='element-input-script'>
    <zeroOrMore>
      <element name='input-script'>
        <ref name="xml-base"/>
        <optional>
          <attribute name='verbose'><ref name="value-boolean"/></attribute>
        </optional>
        <text/>
      </element>
    </zeroOrMore>
  </define>

  <!-- deploy elements -->
  <define name="content-deploy-elements">

    <interleave>
    <optional>
      <element name="local-dir">
        <ref name="xml-base"/>
        <text/>
      </element>
    </optional>

    <optional>
    <element name="build-host">
      <ref name="xml-base"/>
      <optional>
        <attribute name="fqdn">
          <ref name="value-boolean"/>
        </attribute>
      </optional>
      <optional><attribute name="interface"/> </optional>
      <optional><text/></optional>
    </element>
    </optional>

    <optional>
    <element name="remote-url">
      <ref name="xml-base"/>
      <optional>
        <attribute name='https'>
          <ref name="value-boolean"/>
        </attribute>
      </optional>
      <text/>
    </element>
    </optional>

    <optional>
      <element name="boot-options">
        <ref name="xml-base"/>
        <text/>
      </element>
    </optional>

    <optional><element name="hostname">
      <ref name="xml-base"/>
      <text/>
    </element></optional>
    <optional><element name="domain">
      <ref name="xml-base"/>
      <text/>
    </element></optional>
    <optional><element name="password">
      <ref name="xml-base"/>
      <text/>
    </element></optional>

    <optional>
    <element name="kickstart">
      <ref name="xml-base"/>
      <text/>
    </element>
    </optional>

    <zeroOrMore><ref name="element-config-rpm"/></zeroOrMore>

    <optional>
    <element name="release-rpm">
      <ref name="xml-base"/>
      <optional>
      <attribute name="enabled"><ref name="value-boolean"/></attribute>
      </optional>

      <optional>
      <element name="updates">
        <ref name="xml-base"/>
        <optional>
        <attribute name="sync"><ref name="value-boolean"/></attribute>
        </optional>
        <optional>
        <attribute name="gpgcheck"><ref name="value-boolean"/></attribute>
        </optional>
        <optional>
        <attribute name="sslverify"><ref name="value-boolean"/></attribute>
        </optional>
      </element>
      </optional>

    </element>
    </optional>

    <ref name="element-input-script"/>

    <optional>
      <element name="triggers">
      <ref name="xml-base"/>
      <optional>
      <attribute name="activate"><ref name="value-boolean"/></attribute>
      </optional>
      <optional>
      <attribute name="content"><ref name="value-boolean"/></attribute>
      </optional>
      <optional><text/></optional>
      </element>
    </optional>

    <zeroOrMore>
      <element name="script">
      <ref name="xml-base"/>
      <attribute name='id'/>

      <attribute name='type'>
      <choice>
      <value type="string">pre</value>
      <value type="string">activate</value>
      <value type="string">test-triggers</value>
      <value type="string">delete</value>
      <value type="string">pre-install</value>
      <value type="string">install</value>
      <value type="string">post-install</value>
      <value type="string">save-triggers</value>
      <value type="string">update</value>
      <value type="string">post</value>
      </choice>
      </attribute>

      <optional>
      <attribute name="hostname"><text/></attribute>
      </optional>

      <optional>
      <attribute name='verbose'><ref name="value-boolean"/></attribute>
      </optional>

      <optional><attribute name='comes-before'/></optional>
      <optional><attribute name='comes-after'/></optional>
      <text/>
      </element>
    </zeroOrMore>
    </interleave>

  </define>

</grammar>
