share/dimsbuild/schemas/distro.conf/iso.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="distro">
      <optional>
        <element name="iso">
          
          <!-- DOCBOOK ENTRY -->
          <refentry xmlns="">
            <refsect1>
              <title>ISO</title>
              <para>information about the iso element</para>
            </refsect1>
          </refentry>

          <!-- ELEMENT CONTENTS -->
          <interleave>
            <oneOrMore>
              <element name="set">
                <attribute name="size">
                  <data type="string">
                    <param name="pattern">650[mM]|700[mM]|4.7[gG]|8.5[gG]|[cC][dD]|[dD][vV][dD]</param>
                  </data> 
                </attribute>
              </element>
            </oneOrMore>
          </interleave>
        </element>
      </optional>
    </element>
  </start>
</grammar>
