share/dimsbuild/schemas/distro.conf/lib.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="store-element">
    <element name="store">
      <interleave>
        <attribute name="id"/>
        <element name="path"><text/></element>        
        <optional>
          <element name="repodata-path"><text/></element>
        </optional>
        <optional>
          <element name="include">
            <oneOrMore>
              <element name="package"><text/></element>
            </oneOrMore>
          </element>
        </optional>        
        <optional>
          <element name="exclude">
            <oneOrMore>
              <element name="package"><text/></element>
            </oneOrMore>
          </element>
        </optional>        
        <optional>
          <element name="gpgkey"><text/></element>
        </optional>
        <optional>
          <element name="gpgcheck">
            <choice>
              <value type="string">True</value>
              <value type="string">False</value>
              <data type="boolean"/>
            </choice>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="dimsbuild-boolean">
    <choice>
      <value type="string">True</value>
      <value type="string">False</value>
      <value type="string">yes</value>
      <value type="string">no</value>
      <data type="boolean"/>
    </choice>
  </define>  

  <define name="boolean-true">
    <choice>
      <value type="string">True</value>
      <value type="string">yes</value>
      <value type="boolean">1</value>
      <value type="boolean">true</value>
    </choice>
  </define>

  <define name="boolean-false">
    <choice>
      <value type="string">False</value>
      <value type="string">no</value>
      <value type="boolean">0</value>
      <value type="boolean">false</value>
    </choice>
  </define>

  <define name="path-element">
    <element name="path"><text/></element>
  </define>

  <define name="package-element">
    <element name="package"><text/></element>
  </define>

</grammar>