share/dimsbuild/schemas/distro.conf/logos.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="distro">
      <optional>
        <element name="installer">
          <optional>
            <element name="logos">
              <element name="package"><text/></element>
            </element>
          </optional>
        </element>
      </optional>
    </element>
  </start>
</grammar>