share/dimsbuild/schemas/distro.conf/repos.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="distro">
      <element name="repos">
        <!-- DOCBOOK ENTRY -->        
        <refentry xmlns="">      
          <refsect1>
            <title>STORES</title>
            <para>information about the repos element</para>
          </refsect1>
        </refentry>        
        
        <!-- ELEMENT CONTENTS -->
        <optional>
          <ref name="element-exclude"/>
        </optional>      
        <ref name="element-base"/>
        <optional>
          <ref name="element-additional"/>
        </optional>
      </element>
    </element>
  </start>
  
  <include href="lib.rng"/>
  
  <define name="element-exclude">
    <element name="exclude">
      <oneOrMore>
        <element name="package"><text/></element>
      </oneOrMore>
    </element>
  </define>
  
  <define name="element-base">
    <element name="base">
      <ref name="element-repo"/>
    </element>
  </define>
  
  <define name="element-additional">
    <element name="additional">
      <oneOrMore>
        <ref name="element-repo"/>
      </oneOrMore>
    </element>
  </define>
</grammar>
