share/dimsbuild/schemas/distro.conf/rpms.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="element-obsoletes">
    <zeroOrMore>
      <element name="obsolete"><text/></element>
    </zeroOrMore>
  </define>

  <define name="element-requires">
    <zeroOrMore>
      <element name="require"><text/></element>
    </zeroOrMore>
  </define>

  <include href="lib.rng"/>
</grammar>
