share/spin/schemas/distro.conf/pkglist.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>    
    <element name="distro">
    
      <optional>
      <element name="pkglist">
        <optional>
        <attribute name="enabled"><ref name="value-boolean"/></attribute>
        </optional>
        <text/>
      </element>
      </optional>
    
    </element>
  </start>
  
  <include href="lib.rng"/>
</grammar>
