share/systembuilder/schemas/distribution/kickstart.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="distribution">

      <optional>
      <element name="kickstart">
        <optional>
        <attribute name="enabled"><ref name="value-boolean"/></attribute>
        </optional>
        <text/>
      </element>
      </optional>

    </element>
  </start>

  <include href="lib.rng"/>
</grammar>
